.link {
    display: flex;
    color: var(--link-primary-color);
    text-decoration: var(--link-decoration);
    cursor: pointer;
    user-select: none;
    transition: var(--common-transition);
}

.link:hover {
    color: var(--link-hover-color);
}

.link.isActive {
    color: var(--link-active-color);
    cursor: default;
}

.linkContent {
    display: flex;
}

.link svg {
    transition: var(--common-transition);
    fill: var(--link-primary-color);
}

.link:hover svg {
    fill: var(--link-hover-color);
}

.link.isActive svg {
    fill: var(--link-active-color);
}