.section {
    width: 100%;
    margin-left: 60px;
    margin-top: 40px;
}

.blockList {
    height: calc(100vh - 128px);
    overflow-y: auto;
    display: block;
}

.cardGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 40px;
    background-color: #1C1C21;
    gap: 24px;
}

.imageList {
    position: relative;
    display: flex;
}

.imageBlock {
    height: 64px;
    width: 64px;
    margin-left: -10px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #801AB2, #4C4CFF);
    position: relative;
}

.imageBackground {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: linear-gradient(black, black);
    object-fit: cover;
}

.imageList .imageBlock:first-child {
    margin-left: 0;
}

.imageOpacity {
    opacity: 0.6;
}
  
.restItems {
    position: absolute;
    height: 64px;
    width: 64px;
    right: 0;
    z-index: 10;
    text-align: center;
    line-height: 64px;
    color: #F2F2F3;
}